<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

       {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static '/style.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=" https://www.w3schools.com/w3css/4/w3.css ">
    <title>result</title>
    <style>
    body {
  background-color:		#A9A9A9	;
}</style>
</head>
<body>
  <p align="right" > <a class="w3-btn w3-green"  href="/loginpage/"> LogOut</a></p>
<br><br><br>
<center><h3>Result is not declared </h3></center>
</body>
</html>